/* COLORS */
:root {
  --purple: #9356dc;
  --lightblue: #f5edff;
  --pink: #ff79da;
  --green: #99e2d0;
  --darkgreen: #3b8468;
  --white: #ffffff;
  --lightgrey: #ececec;
  --softgrey: #dadada;
  --grey: #bbbbbb;
  --darkgrey: #383838;
  --black: #000000;
}

/* FONTS */
$roboto: "Roboto", "sans-serif";
$shrikhand: "Shrikhand", "sans-serif";

/* RESPONSIVE */
$breakpoint: (
  "small": 470px,
  "mobile": 720px,
  "tablet": 992px,
  "desktop": 1200px,
);

/* DIMENSION */
$dim: 250px;
$spinnersize: 40px;
